body {
	border-left: 3px solid black;
	border-right: 3px solid black;
	margin: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

form {
	padding: 10px;
	height: 500px;
}

#todo-label {
	margin-top: -20px;
	margin-bottom: 10px;
}

#add-todo-submit {
	background-color: green;
	color: white;
}

#remove-completed-submit {
	background-color: orange;
}

#remove-all-submit {
	background-color: crimson;
	color: white;
}

#delete-one-submit {
	background-color: darkgray;
	color: black;
}

#edit-one-submit {
	background-color: blue;
	color: white;
}

#buttons-div {
	display: flex;
}

button {
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin-right: 3px;
}

button:hover {
	border: 3px solid rgba(250, 252, 253, 0.5);
	border-radius: 3px;
	margin: 0px;
	margin-left: -3px;
	margin-top: -3px;
	margin-bottom: -3px;
}

.button {
	border: none;
	border-radius: 3px;
	padding: 5px;
	margin-right: 3px;
}

.button:hover {
	border: 3px solid rgba(250, 252, 253, 0.5);
	border-radius: 3px;
	margin: 0px;
	margin-left: -3px;
	margin-top: -3px;
	margin-bottom: -3px;
}

#todo-input-text {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 3px;
	padding-left: 10px;
	outline: none;
	width: 500px;
	margin-bottom: 3px;
	margin-top: 3px;
}

#todo-input-text:focus {
	padding-left: 10px;
	border: 3px solid rgb(134, 198, 230, 0.5);
	border-radius: 5px;
	margin-left: -3px;
	margin-bottom: 1px;
	margin-top: 1px;
	padding-left: 11px;
}

#todo-list > div {
	padding: 5px;
	padding-left: 10px;
	border: 1px solid lightgray;
	border-radius: 2px;
	margin-top: 3px;
	margin-bottom: -3.7px;
	display: flex;
}
